<?xml version="1.0" encoding="UTF-8"?>

<suite name="Amazon Egypt Test Suite">

    <test name="Login and Navigation Tests">
        <classes>
            <class name="tests.Scenario1"/>
            <class name="tests.Scenario2"/>
            <class name="tests.Scenario3"/>
            <class name="tests.FailedScenario"/>
        </classes>
    </test>

</suite>